<!-- 
    login.ejs 
    This file is the login page for the application. It contains a form with a username and password field.
-->

<%- include("partials/header.ejs") %>


<section class="login-container">
  <div class="login-header">
    <img class="login-logo" src="/images/logo.png" alt="logo" />
    <h1 class="login-title">BeCatBlog</h1>
  </div>
  <form action="/login" method="post" class="login-form">
    <div class="input-container">
      <input type="email" id="email" name="email" required class="form-input" placeholder="Email">
    </div>
    <div class="input-container">
      <input type="password" id="password" name="password" required class="form-input" placeholder="Password">
    </div>
    <button type="submit" class="btn-login">Login</button>
  </form>

  <div class="login-footer">
    <p class="signup-text">Don't have an account? <a href="/register">Sign up!</a></p>
    <p class="testing-account">
      Testing account:
      <br>email: cat@becatblog.cat
      <br>password: cat
    </p>
  </div>
  <footer class="login-footer">
    <p>This project is licensed under the <a href="https://opensource.org/licenses/MIT">MIT License</a></p>
  </footer>
</section>

<%- include("partials/footer.ejs") %>